<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	
	<dataConfiguration defaultDatabase="GamificationDB" />

	<connectionStrings>
		<add name="GamificationDB" connectionString="Data Source=SCIENCE;Initial Catalog=DC_Gamification;User ID=sa;Password=Password1;Application Name=DC Gamification Service;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>