html,
body {
	margin:0;
	padding:0;
	height:100%;

	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #000;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	background:#ffab62;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;

	color: #fff;
	/*border-top-color: #343334;*/
	border-top-width: 1px;
	border-top-style: solid;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);
	background: rgb(0,0,0);
	background: transparent\9;
	background: rgba(0,0,0,0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
	zoom: 1;
}

#box {
	vertical-align: top;
}

body
{
	line-height: 1.5;
	font-size: .9em;
	/*background-image: url("../Images/layout/theme/bg1.jpg");*/
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 0;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(0, 0, 0);
	min-width: 1100px;
}

#header
{
	
	text-align: center;
	border-bottom-color: #313f41;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0,0,0);
	background: transparent\9;
	background: rgba(0,0,0,0.4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
	zoom: 1;
}

#header:nth-child(n)
{
	filter: none;
}

.header_table
{
	width: 960px;
	padding-top: 20px;
	font: small-caps 700 18px "Berling";
	letter-spacing: 1px;
}
h1 {
	font-family: Arial Narrow;
	font-size: 3.9em; 
	line-height: .7em; 
	/*text-shadow: 1px 1px 4px rgba(0,0,0,0.8); */
}

h2 {
	font-family: Arial Narrow;
	font-size: 2.9em; 
	line-height: .7em; 
	/*text-shadow: 1px 1px 4px rgba(0,0,0,0.8);*/
	color: #000000;
}

h3 {
	font-family: Arial Narrow;
	font-size: 1.9em; 
	line-height: .7em; 
	/*text-shadow: 1px 1px 4px rgba(0,0,0,0.8);*/ 
	color: #000000;
}

h4 {
	font-family: Arial Narrow;
	font-size: 1.5em; 
	line-height: .7em; 
	/*text-shadow: 1px 1px 4px rgba(0,0,0,0.8);*/ 
	
}
h1.withShadow, h2.withShadow, h3.withShadow, h4.withShadow{
	
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8); 
}

/* Footer elements */

#footer:nth-child(n)
{
	filter: none;
}

#footer ul
	{
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none;
	}

#footer ul li
		{
			float: left;
		}

#footer ul li::before
			{
				top: -2px;
				color: #4d4d4d;
				padding-top: 0;
				padding-right: 10px;
				padding-bottom: 0;
				padding-left: 10px;
				font-size: 77%;
				display: inline-block;
				position: relative;
				content: "|";
			}

#footer ul li:before /* IE 8 Support*/
			{
				top: -2px;
				color: #4d4d4d;
				padding-top: 0;
				padding-right: 10px;
				padding-bottom: 0;
				padding-left: 10px;
				font-size: 77%;
				display: inline-block;
				position: relative;
				content: "|";
			}

#footer ul li:first-child::before
{
	padding: 0;
	margin-left: -40px;
	margin-top: -20px;
	content: "";
}

#footer ul li:first-child:before  /* IE 8 Support*/
{
	padding: 0;
	margin-left: -40px;
	margin-top: -20px;
	content: "";
}

td.content
{
	word-wrap: break-word;
	font-family: Arial Narrow;
	font-size: 1.5em;
	text-align: left;
}

a
{
	color: #189fcc;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: uppercase;
	font-size: 0.9em;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #fff;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: uppercase;
	font-size: 0.9em;
	text-decoration: none;
	font-weight: bold;
}


/* Main body */
#main
{
	width: 960px;
	padding-top: 0px;
	padding-right: 0;
	
	padding-left: 0;
	margin-left: 0;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;
}

.mainContainerPanel
{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	background: rgb(255,255,255);
	background: transparent\9;
	background: rgba(255,255,255,0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF);
	zoom: 1;
}

.mainContainerBody
{
	background-position: 0 0;
	
	position: relative;
	padding: 10px;
	background-attachment: scroll;
	background-repeat: repeat;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-image: url("../Images/layout/theme/panel_bg.png");
	background-size:100% 100%;
}




#panel:nth-child(n)
{
	filter: none;
}

#login-widget
{
	top: 1px;
	height: 27px;
	width: 100px;
	text-align: center;
	vertical-align: bottom;
	color: #ccc;
	font-size: 85%;
	position: absolute;
	z-index: 999;
	
	background-image: url("../Images/layout/theme/panel_bg.png");
	background-size:100% 100%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 0;
	
	background-origin: padding-box;
	background-clip: border-box;
}

#login-widget a
{
	color: #000000;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial Narrow;
	
}

#login-widget a:hover
{
	color: #189fcc;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	font-family: Arial Narrow;
	
}

.UserFullNameSection {
	color: #ccc;
	font-family: Arial Narrow;
	font-size: 14px;
	position: absolute;
	width:100%;
	text-align: center;
	top: 5px;
	left: 300px;
}

#login
{
	
	position: relative;
	color: black;
	
	font-size: 0.6em;
	text-decoration: none;
	font-family: Arial Narrow;
}
#UserFullName {
	font-size: 12px;
	text-decoration: none;
	font-family: Arial Narrow;
}
/* login page */
.loginForm
{
	border-right: solid 2px #c8c8c8;
	width: 50%;
	padding-right: 10px;
}

.socialLoginForm
{
	width: 50%;
	vertical-align: top;
}

#loginForm .validation-error
{
	margin-left: 15px;
}



#socialLoginForm h2
{
	margin-bottom: 5px;
}


.dxisControl_dcUniverse .dxis-itemTextArea
{
	top: 17px;
	left: 17px;
	bottom: auto;
	width: 285px;
	padding: 15px 16px 21px;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 0 rgba(50, 50, 50, 0.3);
	background-color: #333333;
	background-color: rgba(0, 0, 0, 0.75);
}

.dxisControl_dcUniverse .dxis-nbDotsBottom
{
	padding: 0;
	margin-top: -25px;
}

.dxisControl_dcUniverse .dxis-nbDotsBottom .dxis-nbSlidePanel
	{
		left: auto !important;
	margin-left: 25px;
	}

.dxis-passePartout
{
	top: -6px;
	left: -3px;
}

.ProfileSplashScreen
{
	height: 350px;
	width: 650px;
	background-image: url("/Images/layout/profileSplashScreen_bg.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 210px;
	background-position-y: -30px;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}

.ProfileSplashScreen_text
{
	font-family: sans-serif;
	font-size: 120%;
	max-width: 400px;
}

.tableDivider
{
	padding-right: 10px;
	border-right-color: #c8c8c8;
	border-right-width: 2px;
	border-right-style: solid;
}



/* Journey */

.dxnbGroupHeader_dcUniverse_Journey
{
	background-color: transparent;
	height: 25px;
	font-family: Berlin;
	font-weight: 800;
	font-variant: small-caps;
	font-size: 1.8em;
	color: #189fcc;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.dxnbGroupHeaderCollapsed_dcUniverse_Journey
{
	background-color: transparent;
	height: 25px;
	font-family: Berlin;
	font-weight: 800;
	font-variant: small-caps;
	font-size: 1.8em;
}

.dxnbGroupHeaderCollapsedHover_dcUniverse_Journey
{
	background-color: transparent;
	height: 25px;
	font-family: Berlin;
	font-weight: 800;
	font-variant: small-caps;
	font-size: 1.8em;
	color: #189fcc;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

p.content
{
	width: 850px;
	word-wrap: break-word;
	font-family: Arial Narrow;
	font-size: 1.5em;
	text-align: left;
}

/* Missions */
p.content_m_description, .content_m_skills
{
	word-wrap: break-word;
	font-family: Arial Narrow;
	font-size: 1.1em;
	text-align: left;
	padding-right: 5px;
}
p.content_m_description {
	width: 450px;
}
p.content_m_skills {
	width: 350px;
}


.dxnbGroupHeader_dcUniverse_Missions
{
	background-color: rgba(62,119,149,0.4);
	height: 25px;
	
	color: #000000;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	cursor: pointer;
}

.dxnbGroupHeaderCollapsed_dcUniverse_Missions
{
	background-color: rgba(62,119,149,0.4);
	color: #000000;
	height: 25px;
	cursor: pointer;
}

.dxnbGroupHeaderCollapsedHover_dcUniverse_Missions
{
	background-color: rgba(62,119,149,0.8);
	color: #ffffff;
	
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	cursor: pointer;
}

.dxeRadioButtonList_dcUniverse
{
	color: #333333;
	font-size: 1.1em;
	color: #000000;
	font-family: Arial Narrow;
	background-image: none;
	background-color: transparent;
	vertical-align: middle;
	cursor: pointer;
	
}
.dxeRadioButtonList_dcUniverse_Badges
{
	color: #333333;
	font-size: 1.1em;
	color: #000000;
	font-weight: bold;
	font-family: Arial Narrow;
	background-image: none;
	background-color: transparent;
	vertical-align: middle;

	
}

.customCheckBoxList img
{
    margin-bottom: -35px;
    padding-right: 5px; 
}
.customCheckBoxList label
{
    height: 75px;
    padding-left: 5px;
    padding-top: 4px;
	display: inline-block;
	vertical-align: middle;
}
.badges_section {
	height: 550px;  
	border-left-color: #c0c0c0;
	border-left-style: solid; 
	border-left-width: 1px; 
	border-right-color: #c0c0c0;
	border-right-style: solid; 
	border-right-width: 1px; 

}
.promo_btn_frame {
	position: absolute;
	top: 0px;
	left: 400px;
	display: inline-block;
	height: 10px;
}
.promo_icon {
	position: relative;
	top: -175px;
	left: 280px;
	display: inline-block;
}

.promo_btn_main_text {
	position: relative;
	top: -305px;
	left: -80px;
	color: #FFF8C6;
	font-size: 1.9em;
	font-weight: bold;
	display: inline-block;
}

.promo_btn_text {
	position: relative;
	top: -300px;
	left: 140px;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	display: inline-block;
}
.dxbButton_dcUniverse_promo {
	border: none;
	background-image: none;
	background-color: transparent;
}
.dxbButton_dcUniverse_promo_hover {
	background-image: none;
	border: none;
	background-color: transparent;
}


.stage1_content {
	background-image: url("../Images/StoryLine/Stage1/Stage1_bg.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}

.login_container {

	vertical-align: middle;
	height: 400px;
	/*background-image: url("/Images/StoryLine/Stage1/Stage1_bg.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: 0;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;*/
}

#promo_ship {
	height: 409px; width: 700px;
	position: relative;
	top: -275px;
	left: 350px;
	z-index: 100;
}

.front_page_header {
	font-size: 4.9em; 
	line-height: .7em; 
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8); 
	color: #Ffffff;
	height: 65px;
	
}
.front_page_sub_header {
	font-size: 1.9em; 
	line-height: .7em; 
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8); 
	color: #Ffffff; 
	position: relative;
	top: -50px;
}

.front_page_promo_link {
	color: #FFF8C6;/* #189fcc; */
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: uppercase;
	font-size: 1.0em;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

.front_page_promo_link:hover{
color: #189fcc;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: uppercase;
	font-size: 1.0em;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}



.frontpage_news {
	background-color: transparent;
	padding: 0;
	border: none;
}
.dxncControl .frontpage_newsHeader a {
	color: #189fcc;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: none;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

.dxncControl .frontpage_newsHeader a:hover {
	color: #ffffff;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	text-transform: none;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}
.frontpage_news_content {
	color: #ffffff;
	background-color: transparent;
	padding: 0;
	border: none;
}
.frontPageNews_tail {
	color: #ffffff;
	background-color: transparent;
	padding: 0;
	border: none;
}
.dxncControl {
	background-color: transparent;
}
.dxncItem {
	border: none;
	
}
.dxncItemContent {
	font-size: 1.1em;
}






	