.dxgvControl_dcUniverse,
.dxgvDisabled_dcUniverse
{
	border: 1px Solid #c0c0c0;
	font: 12px Segoe UI;
	background-color: White;
	color: #333333;
	cursor: default;
}
.dxgvDisabled_dcUniverse
{
	color: #b8b8b8;
}
.dxgvControl_dcUniverse a
{
	color: #189FCC;
}
.dxgvDisabled_dcUniverse a
{
	color: #b8b8b8;
}
.dxgvLoadingPanel_dcUniverse
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 14px Segoe UI;
	color: #333333;
}
.dxgvLoadingPanel_dcUniverse td
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxgvLoadingPanelStatusBar_dcUniverse
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_dcUniverse td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvTable_dcUniverse
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvInlineEditRow_dcUniverse,
.dxgvDataRow_dcUniverse
{
}
.dxgvInlineEditRow_dcUniverse td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	border-right: 1px Solid #D3D3D3;
}
.dxgvDataRowAlt_dcUniverse
{
	background-color: WhiteSmoke;
}
.dxgvFilterRow_dcUniverse
{
	border-top: 1px Solid #c0c0c0;
}
.dxgvEditForm_dcUniverse
{
}
.dxgvEditForm_dcUniverse td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	padding: 8px 10px 10px;
}
.dxgvEditForm_dcUniverse td.dxgvIndentCell
{
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvSelectedRow_dcUniverse
{
	background-color: #e0e0e0;
	color: #333333;
}
.dxgvFocusedRow_dcUniverse
{
	color: White;
	background-color: #00C0C0;
}
.dxgvFocusedRow_dcUniverse .dxgvCommandColumn_dcUniverse a
{
	color: White;
}
.dxgvSelectedRow_dcUniverse .dxgvCommandColumn_dcUniverse a
{
	color: #189FCC;
}
.dxgvPreviewRow_dcUniverse
{
	color: #999999;
}
.dxgvDetailCell_dcUniverse,
.dxgvPreviewRow_dcUniverse td.dxgv,
.dxgvEmptyDataRow_dcUniverse td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px Solid #D3D3D3;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow_dcUniverse td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_dcUniverse
{
	padding: 16px 18px;
}
.dxgvDetailRow_dcUniverse td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px Solid #D3D3D3;
}
.dxgvEmptyDataRow_dcUniverse
{
	color: Gray;
}
.dxgvEmptyDataRow_dcUniverse td.dxgv
{
	border-bottom: 1px Solid #CFCFCF;
	text-align: center;
}

.dxgvEditFormDisplayRow_dcUniverse td.dxgv,
.dxgvDataRow_dcUniverse td.dxgv,
.dxgvDataRowAlt_dcUniverse td.dxgv,
.dxgvSelectedRow_dcUniverse td.dxgv,
.dxgvFocusedRow_dcUniverse td.dxgv
{
	overflow: hidden;
	border-bottom: 1px Solid #c0c0c0;
	border-right: 1px Solid #c0c0c0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 3px 6px 4px;
}
.dxgvEditFormDisplayRow_dcUniverse
{
}
.dxgvEditFormDisplayRow_dcUniverse td.dxgv
{
}
.dxgvEditFormDisplayRow_dcUniverse td.dxgvIndentCell
{
	background: #EDEDED none;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_dcUniverse
{
	background-color: #FFC8C8;
	color: #FF0000;
}
.dxgvEditingErrorRow_dcUniverse td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #D3D3D3;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_dcUniverse td.dxgv
{
	border-bottom: 1px Solid #c0c0c0;
	border-right: 1px Solid #c0c0c0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px;
	overflow: hidden;
}
.dxgvGroupRow_dcUniverse
{
}
.dxgvFocusedGroupRow_dcUniverse
{
	background-color: #ff8800;
	color: White;
}
.dxgvGroupRow_dcUniverse td.dxgv,
.dxgvFocusedGroupRow_dcUniverse td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px Solid #D3D3D3;
	padding: 3px 6px 4px;
}
.dxgvFocusedRow_dcUniverse td.dxgvIndentCell,
.dxgvFocusedGroupRow_dcUniverse td.dxgvIndentCell,
.dxgvSelectedRow_dcUniverse td.dxgvIndentCell
{
	background-color: white!important;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvHeaderPanel_dcUniverse
{
	background-color: #F9F9F9;
	padding: 8px 6px;
	border-bottom: 1px Solid #9F9F9F;
}

.dxgvMSDraggable_dcUniverse .dxgvHeader_dcUniverse,
.dxgvMSDraggable_dcUniverse.dxgvGroupPanel_dcUniverse
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_dcUniverse
{
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 6px 5px;
	border: 1px Solid #c0c0c0;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_dcUniverse,
.dxgvHeader_dcUniverse table
{
}
.dxgvHeader_dcUniverse td
{
	white-space: nowrap;
}
.dxgvHeader_dcUniverse a
{
	color: #ff8800;
}
.dxgvPopupEditForm_dcUniverse
{
	padding: 4px;
	margin: 0;
}
.dxgvCustomization_dcUniverse
{
	margin: 0;
	padding: 10px;
	min-width: 220px;
}
.dxgvGroupPanel_dcUniverse
{
	white-space: nowrap;
	border-bottom: 1px Solid #c0c0c0;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter_dcUniverse
{
	white-space: nowrap;
}
.dxgvFooter_dcUniverse td.dxgv
{
	padding: 5px 6px 6px;
	border-bottom: 1px Solid #c0c0c0;
	border-right-width: 0;
}
.dxgvGroupFooter_dcUniverse
{
}
.dxgvGroupFooter_dcUniverse td.dxgv
{
	white-space: nowrap;
}
.dxgvGroupFooter_dcUniverse td.dxgv
{
	padding: 5px 4px 6px 6px;
	border-bottom: 1px Solid #c0c0c0;
	border-right-width: 0;
}
.dxgvDataRow_dcUniverse td.dxgvIndentCell,
.dxgvGroupRow_dcUniverse td.dxgvIndentCell,
.dxgvGroupFooter_dcUniverse td.dxgvIndentCell
{
	background-color: white;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvTitlePanel_dcUniverse, 
.dxgvTable_dcUniverse caption
{
	font-size: 15px;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	color: #999999;
	border-bottom: 1px Solid #c0c0c0;
}
.dxgvLoadingDiv_dcUniverse
{
	background-color: Gray;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxgvStatusBar_dcUniverse
{
	border-top: 1px Solid #c0c0c0;
}
.dxgvStatusBar_dcUniverse tr.dxgv
{
	height: 20px;
}
.dxgvCommandColumn_dcUniverse
{
	padding: 8px 4px;
}
.dxgvCommandColumn_dcUniverse a
{
	margin: 0 3px 0 0;
	color: #189FCC;
}
.dxgvCommandColumn_dcUniverse a:hover
{
}

.dxgvCommandColumnItem_dcUniverse
{
}
.dxgvEditFormTable_dcUniverse
{
	padding: 2px 6px 6px 4px;
	font-size: 11px;
	min-width: 300px;
}
.dxgvEditFormTable_dcUniverse a
{
	color: #ff8800;
}
.dxgvEditFormTable_dcUniverse a:hover
{
}

.dxgvEditFormCaption_dcUniverse
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_dcUniverse
{
	padding: 1px;
}

.dxgvEditFormCell_dcUniverse
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_dcUniverse,
.dxgvPagerBottomPanel_dcUniverse
{
	padding: 4px 0;
}
.dxgvPagerTopPanel_dcUniverse
{
	border-bottom: 1px Solid #c0c0c0;
}

.dxgvDetailButton_dcUniverse
{
}

.dxgvFilterBar_dcUniverse
{
	border-top: 1px Solid #c0c0c0;
}
.dxgvFilterBar_dcUniverse a
{
	color: #189FCC
;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_dcUniverse
{
	padding: 0 7px;
}
.dxgvFilterBarImageCell_dcUniverse
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_dcUniverse
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_dcUniverse
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_dcUniverse
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_dcUniverse
{
	border-top: 1px solid #c0c0c0;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_dcUniverse
{
	background-color: #f0f0f0;
	color: #333333;
}
.dxgvDataRowHover_dcUniverse a
{
	color: #ff8800!important;
}


.dxgvControl_dcUniverse .dxpControl_dcUniverse td.dxpCtrl_dcUniverse, 
.dxgvDisabled_dcUniverse .dxpControl_dcUniverse td.dxpCtrl_dcUniverse,

.dxgvControl_dcUniverse .dxpLite_dcUniverse,
.dxgvDisabled_dcUniverse .dxpLite_dcUniverse
{
	padding-top: 4px;
}

.dxgvControl_dcUniverse .dxgvHFSAC
{
    padding: 9px 0 0 4px;
}
.dxgvControl_dcUniverse .dxgvHFSC
{
    padding: 9px 0 6px;
}
.dxgvControl_dcUniverse .dxgvHFSC div
{
    height: 1px;
    background: #c0c0c0;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_dcUniverse
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

